body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }
  body main {
    max-width: 950px;
    margin: auto; }
    body main header {
      width: 100%;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-top: 15px;
      height: 100px; }
      body main header nav {
        display: inline-block;
        vertical-align: top;
        line-height: 5.5;
        position: absolute;
        left: 47%; }
        body main header nav a {
          text-decoration: none;
          color: #000;
          font-size: 14px;
          padding-left: 40px; }
        body main header nav a:first-child:after {
          content: "\f0d7";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          margin-left: 5px; }
        body main header nav #niv2 {
          background-color: rgba(118, 156, 201, 0.8);
          width: 160px;
          line-height: 2;
          margin-left: 25px;
          margin-top: 0; }
          body main header nav #niv2 a {
            color: #fff;
            padding-left: 18px;
            margin: 0; }
          body main header nav #niv2 a:first-child:after {
            content: ""; }
      body main header #logo-bloc {
        display: inline-block;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        body main header #logo-bloc h1 {
          color: #a5a5a5;
          display: inline-block;
          vertical-align: top;
          margin-left: 15px;
          text-transform: uppercase; }
        body main header #logo-bloc img {
          display: inline-block; }
  body #slider {
    overflow: hidden;
    border: 3px solid #F2F2F2; }
    body #slider img {
      width: 100vw; }
    body #slider .title {
      position: absolute;
      top: 13%;
      left: 15%;
      width: 350px;
      font-size: 24px;
      color: #fff; }
    body #slider .title button {
      width: 60px;
      height: 25px;
      background-color: #7ba4da;
      border: none;
      color: #fff;
      cursor: pointer; }
    body #slider #slide-controls #slide-dots span {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: #7ca0d0;
      display: inline-block; }
    body #slider #slide-controls #slide-dots span.enable {
      background-color: #b6c6df;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      display: inline-block; }
  body #section-1 #baseline {
    margin: 50px auto; }
    body #section-1 #baseline span {
      display: block;
      border-top: 1px solid #818181;
      border-bottom: 1px solid #818181;
      padding: 45px 0;
      font-size: 32px;
      color: #818181;
      margin: 0; }
  body #section-1 .title {
    font-size: 24px; }
  body #section-1 img#img1 {
    display: inline-block;
    margin-left: 13%; }
  body #section-1 img#img2 {
    display: inline-block;
    margin-right: 6%;
    width: 38%; }
  body #section-1 .section {
    margin-bottom: 55px; }
    body #section-1 .section .content {
      display: inline-block;
      width: 55%;
      vertical-align: top; }
      body #section-1 .section .content button {
        width: 100px;
        height: 25px;
        background-color: #7ba4da;
        border: none;
        color: #fff;
        cursor: pointer; }
      body #section-1 .section .content button:after {
        content: "\f0a9";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-left: 10px; }
  body #section-2 {
    background-color: #7da6da;
    height: 800px;
    padding: 80px 0 0 0; }
    body #section-2 h2 {
      color: #fff;
      text-align: center;
      font-size: 32px;
      font-weight: 300; }
    body #section-2 span {
      color: #fff;
      display: block;
      margin: 35px auto;
      width: 55%; }
    body #section-2 .tab {
      text-align: center;
      margin: 40px auto; }
      body #section-2 .tab li {
        background-color: #7197c6;
        border: none;
        width: 130px;
        height: 45px;
        font-size: 15px;
        border-radius: 3px;
        list-style-type: none;
        display: inline-block;
        color: #fff;
        line-height: 3; }
      body #section-2 .tab li:hover {
        cursor: pointer;
        background-color: #e5eef7;
        border: none;
        width: 130px;
        height: 45px;
        font-size: 15px;
        border-radius: 3px;
        color: #000; }
      body #section-2 .tab a {
        line-height: 3;
        text-decoration: none; }
      body #section-2 .tab .tab_content #imgGauche1 {
        background: url("../img/block-1.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: 55%;
        position: relative; }
      body #section-2 .tab .tab_content #imgGauche2 {
        background: url("../img/block-2.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: 55%;
        position: relative; }
      body #section-2 .tab .tab_content #imgGauche3 {
        background: url("../img/block-3.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: 55%;
        position: relative; }
      body #section-2 .tab .tab_content .filter {
        background-color: rgba(219, 127, 8, 0.7);
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        width: 523px;
        height: 348px;
        overflow: hidden; }
        body #section-2 .tab .tab_content .filter img {
          display: block;
          width: 14%;
          margin: auto;
          -webkit-transform: translateY(150px);
                  transform: translateY(150px); }
      body #section-2 .tab .tab_content .filter:hover {
        opacity: 1; }
      body #section-2 .tab .tab_content .tabs_item {
        display: none; }
        body #section-2 .tab .tab_content .tabs_item p, body #section-2 .tab .tab_content .tabs_item span {
          text-align: left; }
      body #section-2 .tab .tab_content .tabs_item:first-child {
        display: block; }
    body #section-2 .content {
      display: inline-block;
      width: 35%;
      padding-left: 50px;
      vertical-align: top; }
      body #section-2 .content span {
        margin: 0;
        font-style: italic;
        font-size: 14px; }
      body #section-2 .content h2 {
        margin: 0;
        text-align: left; }
      body #section-2 .content button {
        width: 119px;
        height: 35px;
        background-color: #fff;
        border: none;
        color: #7da6da;
        font-size: 15px;
        cursor: pointer; }
      body #section-2 .content button:hover {
        background-color: #558acc;
        color: #fff; }
      body #section-2 .content .text {
        color: #fff; }
  body #section-3 {
    margin-top: 15%; }
    body #section-3 h2 {
      color: #171717;
      text-align: center;
      font-size: 32px;
      font-weight: 300; }
    body #section-3 p {
      /*width: 70%;*/
      margin: auto;
      text-align: center; }
    body #section-3 #cards {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 20px; }
      body #section-3 #cards #card-left, body #section-3 #cards #card-middle, body #section-3 #cards #card-right {
        width: 286px;
        height: 466px;
        background-color: #fff;
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
      body #section-3 #cards #card-left:hover, body #section-3 #cards #card-middle:hover, body #section-3 #cards #card-right:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      body #section-3 #cards img {
        max-width: 100%; }
      body #section-3 #cards h2 {
        color: #4b4b4b; }
      body #section-3 #cards button {
        width: 100%;
        background-color: #7da6da;
        border: none;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        border-radius: 3px;
        padding: 5px; }
      body #section-3 #cards p {
        height: 100px; }
  body #section-maps {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
    body #section-maps span {
      height: 2px;
      width: 500px;
      background-color: #ACACAC;
      opacity: 0.5;
      display: block;
      margin: 50px auto; }
    body #section-maps h2 {
      color: #4b4b4b;
      text-align: center;
      font-weight: 300; }
  body footer {
    width: 100%;
    background-color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #ACACAC;
    padding: 25px 0; }
    body footer #column-1, body footer #column-2,
    body footer #column-3, body footer #column-4 {
      width: 230px;
      display: inline-block;
      padding: 10px;
      box-sizing: border-box;
      vertical-align: top; }
      body footer #column-1 h2, body footer #column-2 h2,
      body footer #column-3 h2, body footer #column-4 h2 {
        text-transform: uppercase; }
    body footer #column-1 {
      text-align: center; }
    body footer h3 {
      color: #ebebe9; }
    body footer #column-2 ul {
      padding: 0; }
    body footer #column-2 ul li {
      list-style-type: none;
      padding: 7px 0; }
    body footer #column-3 .fa {
      padding: 5px; }
    body footer #column-3 ul {
      padding-left: 0; }
    body footer #column-3 ul li {
      list-style-type: none; }
    body footer #column-4 form input {
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #fff;
      margin: 15px auto; }
    body footer #column-4 form ::-webkit-input-placeholder {
      font-style: italic; }
    body footer #column-4 form button {
      background-color: #7da7d9;
      width: 70px;
      height: 30px;
      border: none;
      border-radius: 3px;
      color: #fff;
      cursor: pointer; }
